
body {
    background: black;
    /*background-image: url("img/XXIII.png");*/
}
#head{
    text-align: center;
    background: cornflowerblue;
}
.total{
    display: flex;
    flex-wrap: wrap;
}
.pic{
    height: 150px;
    width: 150px;
}
h5 {
    text-align: center;

}